    body{        
        padding-top: 60px;
        padding-bottom: 40px;
	    font-family: sansation;
    }
	
    .fixed-header {
        width: 100%;
        position: fixed;        
        background: #fff;
        padding: 10px 0;
        color: #fff;
    }
	
	.fixed-footer{
		border-top: 2px solid black;
		padding-top: 5px;
        width: 100%;
        position: fixed;        
        background: #fff;
        padding: 0px 0;
        color: #fff;
    }
	
    .fixed-header{
        top: 0;
		text-align: right;
    }
	
    .fixed-footer{
        bottom: 0;
    }
	
    .container{
        width: 100%;
        margin: 0 auto; /* Center the DIV horizontally */
    }
	
	/*.navbar{
	  min-height: 34px !important;
	  margin-bottom:0;
	  border-radius:0;
	  top: -60px;
	  background-color: #fff;
	  border: none;
	  margin-top: 5px;
	  margin-bottom: 5px;
	  position: fixed;
	}*/
	
	.navbar{
	  min-height: 34px !important;
	  margin-bottom:0;
	  bottom: 0;
	  border-radius:0;
	  top: -60px;
	  background-color: #fff;
	  padding-right: 127px;
	  padding-left: 127px;
	  padding-top: 5px;
	  margin-bottom: 5px;
	  position: relative;
	  z-index: 30000px;
	  border-bottom: 2px solid black;
	  padding-bottom: 5px;
	}
	
    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
		border-radius: 50px 50px 50px 50px;
		font-family: sans-serif;
    }
	
	nav .donate{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
		border-radius: 50px 50px 50px 50px;
		background-color: #F98F07;
		font-family: sans-serif;
    }
	
	/*nav a: hover{
		background-color: #000000;
    }*/
	
	/*nav a:hover{
        background-color: #000000;
    }*/
	
	/* Navbar */
/*.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
  position: absolute;
  top: 0;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top:6px !important;
  padding-bottom:0 !important;
  height: 33px;
}

.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}*/
	
	.boxes
	{
		background-color: eeeeee; 
		font-weight: bold; 
		color: black; 
		border:thin Black; 
		border-style : dashed; 
		line-height: 20px; 
		padding: 6px 6px 6px 6px;
	}
	
	.dash-box{
	  display: inline-block;
	  margin: 20px 20px 20px 20px;
      padding: 60px 40px 40px 40px;
	  font-size: 1.1em;
	  font-family: sans-serif;
      font-weight: 500;
	  text-align: center;
	  border: none;
	}
	
.block_yellow {
	  display: inline-block;
	  width: 170px;
      height: 50px;
	  background-color: #FFFF02;
	  margin: 20px 20px 20px 20px;
      padding: 60px 40px 40px 40px;
	  font-size: 1.1em;
	  font-family: sans-serif;
      font-weight: 500;
	}
	
	.block_green {
	  display: inline-block;
	  width: 170px;
      height: 50px;
	  background-color: #92D050;
	  margin: 20px 20px 20px 20px;
      padding: 60px 40px 40px 40px;
	  font-size: 1.1em;
	  font-family: sans-serif;
      font-weight: 500;
	}
	
	.block_blue {
	  display: inline-block;
	  width: 170px;
      height: 50px;
	  background-color: #66CCFF;
	  margin: 20px 20px 20px 20px;
      padding: 60px 40px 40px 40px;
	  font-size: 1.1em;
	  font-family: sans-serif;
      font-weight: 500;
	}
	
	.block_pink {
	  display: inline-block;
	  width: 170px;
      height: 50px;
	  background-color: #FFCCFF;
      margin: 20px 20px 20px 20px;
      padding: 60px 40px 40px 40px;
	  font-size: 1.1em;
	  font-family: sans-serif;
      font-weight: 500;
	}

	
	.container1  {
	   text-align: center;
	   margin-bottom:80px;
	   margin-left:80px;
	}
	
	.bigger_text{
		font-size: 50px;
        text-align: center;
        font-weight: bold;
		color: black;
	}
	
	.block_yellow {
	  display: inline-block;
	  width: 170px;
      height: 50px;
	  background-color: #FFFF02;
	  margin: 20px 20px 20px 20px;
      padding: 60px 40px 40px 40px;
	}
	.btn {
	  background-color: #00B3FF;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
	  display: inline-block;
	  font-size: 24px;
      cursor: pointer;
      border-radius: 55px;
      transition: 0.3s;
	  height: 50px;
	  width: 150px;
}

.btn1 {
	  background-color: #000;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
	  display: inline-block;
	  font-size: 24px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 55px;
	  border-radius: 90px 90px 90px 90px;
		padding: 15px 60px 15px 60px;
		transition: 0.3s;
}

	.btn1:hover {
     background-color: #818a91;
     color: white;
	}.btn:hover {
     background-color: #000;
     color: white;
	}


.grant_request{
	  width: 654px;
	  height: 50px;
	  background-color: #fff;
	  border-color: #000;
	  border-width: 0px 0px 1px 0px;
	  border-radius: 0px 0px 0px 0px;

	}
	
	.grant_request_button{
		border-radius:50px 50px 50px 50px; 
		width: 200px; 
		height: 50px;  
		font-size: 25px;
		background-color:#000;
		color:#fff;
	}
	
	.contact_us{
	  width: 500px;
	  height: 50px;
	  background-color: #fff;
	  border-color: #000;
	  border-width: 1px 1px 1px 1px;
	  border-radius: 10px 10px 10px 10px;

	}
	.value_section{ 
		margin-bottom: 70px;
		display: flex;
	}
	
	.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.tile-container{
display:flex;
min-height:200px;
align-items: stretch;
}

.tile-container div:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.tile-container div{
text-align: center;
display: flex;
align-items: center;
border-radius: 3px;
margin:0 20px 20px 0;
width:100%;
border: solid 1px #0000000f;
min-height: 70px;

}

.tile-container {
		padding-left: 60px;
		padding-right: 60px;
		margin-top: 60px;
		margin-bottom:40px;
		margin-right: 60px;
		margin-left: 60px;
}

.tile-container h4{
	margin: 0 auto;
	color: #000000;
}

@media only screen and (max-width: 750px) {
    .tile-container{
        flex-wrap: wrap;
    }
}

.homebox {
	font-size: 1.3em;
	font-family: sans-serif;
    font-weight: bold;
	color: black;
}

.yellow{
    background-color: #FFFF02;
}
.green{
    background-color:#92D050;
}
.blue{
    background-color: #66CCFF;
}
.purple{
    background-color: #FFCCFF;
}

@media only screen and (max-width: 750px) {
    .fixed
        flex-wrap: wrap;
    }
}